body {
  background-color: $light_grey;
  color: $dark_grey;
}

h1, h2, h3, h4, h5, h6 {
    color: $light_grey;
    background-color: $grape;
    $inset: 0.2em;
    margin: (-$inset) (-$inset) ($small-spacing - $inset);
    padding: $inset;
}

a:link, a:visited {
            color: $grape;
        }
a:hover {
    text-decoration: underline;
    color: $crimson;
    text-shadow: none;
}
