#container
  @include outer-container
  #nav_col
    @include span-columns(3)
    #logo a
      display: block
      background-image: url("/assets/images/2016-logo.png")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      width: 176px
      height: 218px
      margin: 1em auto
      text-indent: -9999px

  #main_col
    @include span-columns(9)
    margin-top: 1em

footer
  @include outer-container
  margin: $small-spacing auto
  color: $light_grey
  background-color: $grape
  padding: $small-spacing
  a:link, a:visited
    color: $light_grey
    border: 1px solid $light_grey
    border-radius: ($small-spacing / 2)
    padding: 0 ($small-spacing / 2)
  a:hover
    color: white
  div
    @include span-columns(6)
    &#impressum
      text-align: right
    ul
      li
        display: inline-block
