---
title: Welcome
---

:markdown
  Welcome to a public version of the DARPA Cyber Grand Challenge documentation.
  This documentation was originally written by the Cyber Grand Challenge
  organizers, and posted on the [CGC GitHub organization][4].
  This repository is the same documentation, but adapted, formatted, and
  maintained for web viewing by [Legitimate Business Syndicate][3].

  [3]: https://legitbs.net/

  # CTF Competitors

  **Competing in Capture the Flag?** Please note that these documents are
  informational only! They are not a secret CTF challenge! The authors of
  these documentation do not have a flag for you to capture. **Please do not
  pester them for help.**

  # Reporting Problems or Issues

  If you have problems or issues with this repository, please report them to
  Legitimate Business Syndicate. If you have a GitHub account, file an issue at
  [https://github.com/legitbs/cgc-docs/issues][1] and we'll take a look at it
  when possible. If you don't have a GitHub account or would like to report
  issues to us privately for other reasons, please email
  [vito@legitbs.net][2] and we'll get back to you when possible.

  [1]: https://github.com/legitbs/cgc-docs/issues
  [2]: mailto:vito@legitbs.net

  # How These Documents Were Collected and Processed

  1. Clone all the repositories from [the CGC GitHub][4]
  2. Find and extract all the Markdown documents
  3. Remove the sample challenge documents
  4. Put the documents in a [Middleman](https://middlemanapp.com/) site
  5. Fix file extensions on documents
  6. Add titles to the Markdown documents using the `rename_flow.rb` script
    in this site's repo.
  7. Publish

  [4]: https://github.com/CyberGrandChallenge/
  [5]: https://middlemanapp.com/
